.TransactionView{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.TransheadBox{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    
}
.TransheadBox img{
    padding: 1rem;
}

.transactionBox{
    height: 500px;
    overflow-y: scroll;
}
