.TransferCard{
    background-color: #EBEBEB;
   
    min-width: 48%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0.4rem;
    min-height: 200px;
    color: #BDBDBD;
}




.tCardHead{
    text-align: left;
    padding: 0rem 0.3rem;
    font-size: .8rem;
    color: #BDBDBD;
}

