.App {
  text-align: center;
    display: block;
    min-width: 493px;
    max-width:28%;
    background-color: white;
    min-height: 1037px;
    height: 100vh;
    margin: auto;
    padding: 1rem;
}

